.App {
  text-align: center;
  background-color: darkgrey;
  height: 100vh;
  /* display: flex;
  justify-content: space-around; */
}

.dropdown {
  padding: 200px;
  position: relative;
  border: none;
}

.dropdown-field {
  background-color: white;
  height: 30px;
  width: 300px;
  color: black;
  display: flex;
  align-items: center;
  padding: 5px;
}

.state-panel {
  position: absolute;
  background-color: white;
  padding: 10px;
  width: auto;
  height: 300px;  
  margin-top: 3px;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
}

.state-panel fieldset{
  border: none;
  margin: 2px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-field {
  background-color: #9ee8e8;
}

