.App {
  text-align: center;
  background-color: darkgrey;
  height: 100vh;
  /* display: flex;
  justify-content: space-around; */
}

.dropdown-field {
  background-color: white;
  height: 30px;
  width: 300px;
  color: black;
  /* display: flex; */
  align-items: center;
  padding: 5px;
}

